{
  "plugins": ["prettier-plugin-solidity"],
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "bracketSpacing": true,
        "printWidth": 100,
        "tabWidth": 2
      }
    },
    {
      "files": "*.{ts,js}",
      "options": {
        "parser": "typescript",
        "trailingComma": "all",
        "arrowParens": "always",
        "singleQuote": true
      }
    },
  ]
}
